# Packages required for Django:
django==1.6.5
South==1.0.1
psycopg2==2.5.4

# Other useful libraries:
PyYAML==3.11
pytz==2014.10 # 'highly recommended' for Django
python-dateutil==2.4.2

# For testing:
nose==1.3.0
django-nose==1.2
yanc==0.2.4

# mock and its dependencies:
funcsigs==0.4
mock==1.3.0
pbr==1.8.1

# For fetching documents and parsing:
httplib2==0.8
beautifulsoup4==4.3.2
parslepy==0.2.0
requests==2.6.0
lxml==3.3.5

# mySoc modules
django-subdomain-instances==0.1
-e git+git://github.com/mysociety/sayit.git@b9b5d803178303b2aa3feadcc912766cf4a25673#egg=django-sayit
mysociety-django-popolo==0.0.2
-e git+git://github.com/mysociety/popolo-name-resolver@d733d98e0e950cbc8e6f9fb32d3d13e0f7a7d6c3#egg=popolo-name-resolver

# It seems that pip's dependency handling isn't smart enough to
# figure out from mysociety-django-popolo requiring
# django-model-utils (any version) and popolo-name-resolver
# requiring django-model-utils (== 2.3.1) that
# django-model-utils==2.4 (what it actually installed) isn't a
# good choice.  So tell it what version to install explicitly.
django-model-utils==2.3.1

# Although it's not actually used any more, we still need popit-django
# in the requirements so that the older migrations work.
-e git+git://github.com/mysociety/popit-django@a11ef97919f2ae35ef1ef1e2a3f0553ad1ba1e6d#egg=popit-django

# Selenium isn't actually used by the za-hansard tests, but
# we import create_sections from the SayIt test helpers, and
# that module has an import from Selenium.
selenium==2.51.1
