lxml>=3.1.0
pytz
django<1.5
nose
django-nose==1.2
South
psycopg2

httplib2
beautifulsoup4

PyYAML

# mySoc modules
django-subdomain-instances
-e git://github.com/mysociety/sayit#egg=sayit
-e git+https://github.com/mysociety/popit-django#egg=popit-django
-e git+https://github.com/mysociety/popit-resolver@issues/parentheses-and-deputy#egg=popit-resolver

# For committee minutes parser
parslepy

requests
